@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor Accessor
@using MusicStream.Models
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/select2.min.css">
    <link rel="stylesheet" href="~/css/paymentfont.min.css">
    <link rel="stylesheet" href="~/css/slider-radio.css">
    <link rel="stylesheet" href="~/css/plyr.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/select.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="~/img/logo/logo.png" sizes="32x32">

    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Music streaming</title>

</head>

<body>
    <!-- header -->
    <header class="header">
        <div class="header__content">
            <div class="header__logo">
                <a href="index.html">
                    <img src="~/img/logo/logo.png" style="color: green;" alt="">
                </a>
            </div>

            <nav class="header__nav">
                @if (Accessor.HttpContext.Session.GetString("account") == null)
                {
                    <a href="#modal-buy" class="open-modal">Profile</a>
                }
                else
                {
                    <a href="/account/profile">Profile</a>
                }
            </nav>

            <form action="/home/search" class="header__search">
                <input type="text" name="key" placeholder="Nghệ sĩ hoặc bài hát.">
                <button type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M21.71,20.29,18,16.61A9,9,0,1,0,16.61,18l3.68,3.68a1,1,0,0,0,1.42,0A1,1,0,0,0,21.71,20.29ZM11,18a7,7,0,1,1,7-7A7,7,0,0,1,11,18Z" />
                    </svg>
                </button>
                <button type="button" class="close">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M13.41,12l6.3-6.29a1,1,0,1,0-1.42-1.42L12,10.59,5.71,4.29A1,1,0,0,0,4.29,5.71L10.59,12l-6.3,6.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0L12,13.41l6.29,6.3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42Z" />
                    </svg>
                </button>
            </form>
            <div class="header__actions">
                <div class="header__action header__action--search">
                    <button class="header__action-btn" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 24 24">
                            <path d="M21.71,20.29,18,16.61A9,9,0,1,0,16.61,18l3.68,3.68a1,1,0,0,0,1.42,0A1,1,0,0,0,21.71,20.29ZM11,18a7,7,0,1,1,7-7A7,7,0,0,1,11,18Z" />
                        </svg>
                    </button>
                </div>

                @if (Accessor.HttpContext.Session.GetString("account") == null)
                {
                    <div class="header__action header__action--signin">
                        <a class="header__action-btn" href="/signin">
                            <svg style="margin-right: 12px" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M24 22h-20v-7h2v5h16v-16h-16v5h-2v-7h20v20zm-13-11v-4l6 5-6 5v-4h-11v-2h11z" /></svg>
                            <span>Đăng nhập</span>
                        </a>
                    </div>
                    <div class="header__action header__action--signin">
                        <a class="header__action-btn" href="/signup">
                            <svg style="margin-right: 12px" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M.002 20h6.001c-.028-6.542 2.995-3.697 2.995-8.901 0-2.009-1.311-3.099-2.998-3.099-2.492 0-4.226 2.383-1.866 6.839.775 1.464-.825 1.812-2.545 2.209-1.49.344-1.589 1.072-1.589 2.333l.002.619zm20.498-7c-1.932 0-3.5 1.567-3.5 3.5s1.568 3.5 3.5 3.5 3.5-1.567 3.5-3.5-1.568-3.5-3.5-3.5zm1.5 4h-1v1h-1v-1h-1v-1h1v-1h1v1h1v1zm-4.814 3h-9.183l-.003-.829c0-1.679.133-2.649 2.118-3.107 2.243-.518 4.458-.981 3.394-2.945-3.156-5.82-.901-9.119 2.488-9.119 4.06 0 4.857 4.119 3.085 7.903-1.972.609-3.419 2.428-3.419 4.597 0 1.38.589 2.619 1.52 3.5z" /></svg>
                            <span>Đăng ký</span>
                        </a>
                    </div>
                }
                else
                {
                    <div class="header__action header__action--signin">
                        <a class="header__action-btn" href="/account/profile">
                            <div class="profile__avatar">
                                <img src="@(JsonConvert.DeserializeObject<Account>(Accessor.HttpContext.Session.GetString("account")).Image)" alt="">
                            </div>
                            <span>@(JsonConvert.DeserializeObject<Account>(Accessor.HttpContext.Session.GetString("account")).Fullname)</span>
                        </a>
                    </div>
                    <div class="header__action header__action--signin">
                        <a class="header__action-btn" href="/account/logout">
                            <svg style="margin-right: 12px" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M16 2v7h-2v-5h-12v16h12v-5h2v7h-16v-20h16zm2 9v-4l6 5-6 5v-4h-10v-2h10z" /></svg>
                            <span>Logout</span>
                        </a>
                    </div>
                }
            </div>

            <button class="header__btn" type="button">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </header>
    <!-- end header -->
    <!-- sidebar -->
    <div class="sidebar">
        <!-- sidebar logo -->
        <div class="sidebar__logo">
            <img src="~/img/logo/logo.png" style="color: green; width: 60px;" alt="">
            <span style="color: green; font-size: 30px; margin-left: 10px; font-weight:900">Spotify</span>
        </div>
        <!-- end sidebar logo -->
        <!-- sidebar nav -->
        <ul class="sidebar__nav">
            <li class="sidebar__nav-item">
                <a href="/" class="sidebar__nav-link sidebar__nav-link--active">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M20,8h0L14,2.74a3,3,0,0,0-4,0L4,8a3,3,0,0,0-1,2.26V19a3,3,0,0,0,3,3H18a3,3,0,0,0,3-3V10.25A3,3,0,0,0,20,8ZM14,20H10V15a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1Zm5-1a1,1,0,0,1-1,1H16V15a3,3,0,0,0-3-3H11a3,3,0,0,0-3,3v5H6a1,1,0,0,1-1-1V10.25a1,1,0,0,1,.34-.75l6-5.25a1,1,0,0,1,1.32,0l6,5.25a1,1,0,0,1,.34.75Z">
                        </path>
                    </svg> <span>Trang chủ</span>
                </a>
            </li>

            <li class="sidebar__nav-item">
                <a href="/artist/search" class="sidebar__nav-link">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 24 24">
                        <path d="M12.3,12.22A4.92,4.92,0,0,0,14,8.5a5,5,0,0,0-10,0,4.92,4.92,0,0,0,1.7,3.72A8,8,0,0,0,1,19.5a1,1,0,0,0,2,0,6,6,0,0,1,12,0,1,1,0,0,0,2,0A8,8,0,0,0,12.3,12.22ZM9,11.5a3,3,0,1,1,3-3A3,3,0,0,1,9,11.5Zm9.74.32A5,5,0,0,0,15,3.5a1,1,0,0,0,0,2,3,3,0,0,1,3,3,3,3,0,0,1-1.5,2.59,1,1,0,0,0-.5.84,1,1,0,0,0,.45.86l.39.26.13.07a7,7,0,0,1,4,6.38,1,1,0,0,0,2,0A9,9,0,0,0,18.74,11.82Z" />
                    </svg> <span>Nghệ sĩ</span>
                </a>
            </li>

            <li class="sidebar__nav-item">
                <a href="/home/search" class="sidebar__nav-link">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 24 24">
                        <path d="M21.65,2.24a1,1,0,0,0-.8-.23l-13,2A1,1,0,0,0,7,5V15.35A3.45,3.45,0,0,0,5.5,15,3.5,3.5,0,1,0,9,18.5V10.86L20,9.17v4.18A3.45,3.45,0,0,0,18.5,13,3.5,3.5,0,1,0,22,16.5V3A1,1,0,0,0,21.65,2.24ZM5.5,20A1.5,1.5,0,1,1,7,18.5,1.5,1.5,0,0,1,5.5,20Zm13-2A1.5,1.5,0,1,1,20,16.5,1.5,1.5,0,0,1,18.5,18ZM20,7.14,9,8.83v-3L20,4.17Z" />
                    </svg> <span>Nhạc mới</span>
                </a>
            </li>
            @*<li class="sidebar__nav-item">
                <a href="podcasts.html" class="sidebar__nav-link">
                <svg xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24">
                <path d="M12,15a4,4,0,0,0,4-4V5A4,4,0,0,0,8,5v6A4,4,0,0,0,12,15ZM10,5a2,2,0,0,1,4,0v6a2,2,0,0,1-4,0Zm10,6a1,1,0,0,0-2,0A6,6,0,0,1,6,11a1,1,0,0,0-2,0,8,8,0,0,0,7,7.93V21H9a1,1,0,0,0,0,2h6a1,1,0,0,0,0-2H13V18.93A8,8,0,0,0,20,11Z" />
                </svg> <span>Thể loại</span>

                </a>
                </li>

                <li class="sidebar__nav-item">
                <a href="podcasts.html" class="sidebar__nav-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z" /></svg>
                <span>Top 100</span>
                </a>
                </li>*@
            @if (Accessor.HttpContext.Session.GetString("account") == null)
            {
                <li class="sidebar__nav-item">
                    <a href="#modal-buy" class="sidebar__nav-link open-modal">
                        <svg style="width: 18px; height: 18px;" width="18" height="18" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181" /></svg>
                        <span>Bài hát yêu thích</span>
                    </a>
                </li>
            }
            else
            {
                <li class="sidebar__nav-item">
                    <a href="/account/favourite-song" class="sidebar__nav-link">
                        <svg style="width: 18px; height: 18px;" width="18" height="18" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181" /></svg>
                        <span>Bài hát yêu thích</span>
                    </a>
                </li>
            }
            <!-- collapse -->
            <li class="sidebar__nav-item">
                <a class="sidebar__nav-link" data-toggle="collapse" href="#collapseMenu1" role="button"
                   aria-expanded="false" aria-controls="collapseMenu1">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                    <path d="M48,64h160c17.672,0,32-14.328,32-32c0-17.674-14.328-32-32-32H48C30.328,0,16,14.326,16,32C16,49.672,30.328,64,48,64z" />
                    <path d="M48,160h160c17.672,0,32-14.328,32-32c0-17.674-14.328-32-32-32H48c-17.672,0-32,14.326-32,32C16,145.672,30.328,160,48,160z" />
                    <path d="M240,224c0-17.674-14.328-32-32-32H48c-17.672,0-32,14.326-32,32c0,17.672,14.328,32,32,32h160C225.672,256,240,241.672,240,224z" />
                    <path d="M411.328,75.914C393.043,61.805,368,42.477,368,32c0-17.672-14.328-32-32-32s-32,14.328-32,32v293.58c-10.023-3.549-20.762-5.58-32-5.58c-53.02,0-96,42.98-96,96s42.98,96,96,96s96-42.98,96-96V123.293c1.414,1.094,2.82,2.203,4.23,3.293c36.105,27.852,59.77,48.078,59.77,74.305c0,40.766-21.684,63.516-22.305,64.164c-12.672,12.32-12.961,32.578-0.641,45.25c6.273,6.453,14.605,9.695,22.949,9.695c8.035,0,16.082-3.008,22.301-9.055c4.27-4.148,41.695-42.484,41.695-110.055C496,141.25,449.051,105.023,411.328,75.914z" />
                    </svg><span>Playlist</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M17,9.17a1,1,0,0,0-1.41,0L12,12.71,8.46,9.17a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42l4.24,4.24a1,1,0,0,0,1.42,0L17,10.59A1,1,0,0,0,17,9.17Z" />
                    </svg>
                </a>

                <div class="collapse" id="collapseMenu1">
                    <ul class="sidebar__menu sidebar__menu--scroll">
                        <li><a href="/playlist/search">Khám phá các playlist</a></li>
                        @if (Accessor.HttpContext.Session.GetString("account") == null)
                        {
                            <li><a href="#modal-buy" class="open-modal">Playlist của tôi</a></li>
                        }
                        else
                        {
                            <li><a href="/playlist/list">Playlist của tôi</a></li>
                        }
                    </ul>
                </div>
            </li>

            @if (Accessor.HttpContext.Session.GetString("account") != null && JsonConvert.DeserializeObject<Account>(Accessor.HttpContext.Session.GetString("account")).RoleId == 1)
            {
                <li class="sidebar__nav-item">
                    <a class="sidebar__nav-link" data-toggle="collapse" href="#collapseMenu2" role="button"
                   aria-expanded="false" aria-controls="collapseMenu2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20.822 18.096c-3.439-.794-6.641-1.49-5.09-4.418 4.719-8.912 1.251-13.678-3.732-13.678-5.081 0-8.464 4.949-3.732 13.678 1.597 2.945-1.725 3.641-5.09 4.418-2.979.688-3.178 2.143-3.178 4.663l.005 1.241h10.483l.704-3h1.615l.704 3h10.483l.005-1.241c.001-2.52-.198-3.975-3.177-4.663zm-8.231 1.904h-1.164l-.91-2h2.994l-.92 2z" /></svg>
                        <span>Admin</span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M17,9.17a1,1,0,0,0-1.41,0L12,12.71,8.46,9.17a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42l4.24,4.24a1,1,0,0,0,1.42,0L17,10.59A1,1,0,0,0,17,9.17Z" />
                        </svg>
                    </a>

                    <div class="collapse" id="collapseMenu2">
                        <ul class="sidebar__menu sidebar__menu--scroll">
                            <li><a href="/admin/genre">Thể loại</a></li>
                            <li><a href="/admin/album">Album</a></li>
                            <li><a href="/admin/account">Tài khoản</a></li>
                            <li><a href="/admin/artist">Nghệ sĩ</a></li>
                        </ul>
                    </div>
                </li>
            }
            <!-- end collapse -->
        </ul>
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar -->
    <!-- player -->
    <div id="player--controler">
        <div class="player">
            <div class="player__cover">
                <img src="" alt="">
            </div>

            <div class="player__content">
                <span class="player__track"><b class="player__title"></b> – <span class="player__artist"></span></span>
                <audio preload="auto" src="" id="audio" controls autobuffer></audio>
            </div>
        </div>

        <button class="player__btn" id="play__button" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M21.65,2.24a1,1,0,0,0-.8-.23l-13,2A1,1,0,0,0,7,5V15.35A3.45,3.45,0,0,0,5.5,15,3.5,3.5,0,1,0,9,18.5V10.86L20,9.17v4.18A3.45,3.45,0,0,0,18.5,13,3.5,3.5,0,1,0,22,16.5V3A1,1,0,0,0,21.65,2.24ZM5.5,20A1.5,1.5,0,1,1,7,18.5,1.5,1.5,0,0,1,5.5,20Zm13-2A1.5,1.5,0,1,1,20,16.5,1.5,1.5,0,0,1,18.5,18ZM20,7.14,9,8.83v-3L20,4.17Z" />
            </svg> Player
        </button>
    </div>
    <!-- end player -->
    @RenderBody()

    <!-- footer -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 col-lg-6 col-xl-4 order-4 order-md-1 order-lg-4 order-xl-1">
                    <div class="footer__logo">
                        <img src="~/img/logo/logo.png" alt="">
                    </div>
                    <p class="footer__tagline">Trình phát nhạc online miễn phí.</p>
                    <div class="footer__links">
                        <a href="mailto:quocanhseu@gmail.com">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 24 24">
                                <path d="M19,4H5A3,3,0,0,0,2,7V17a3,3,0,0,0,3,3H19a3,3,0,0,0,3-3V7A3,3,0,0,0,19,4Zm-.41,2-5.88,5.88a1,1,0,0,1-1.42,0L5.41,6ZM20,17a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V7.41l5.88,5.88a3,3,0,0,0,4.24,0L20,7.41Z" />
                            </svg> quocanhseu@gmail.com
                        </a>
                        <a href="tel:0964341019">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M19.44,13c-.22,0-.45-.07-.67-.12a9.44,9.44,0,0,1-1.31-.39,2,2,0,0,0-2.48,1l-.22.45a12.18,12.18,0,0,1-2.66-2,12.18,12.18,0,0,1-2-2.66L10.52,9a2,2,0,0,0,1-2.48,10.33,10.33,0,0,1-.39-1.31c-.05-.22-.09-.45-.12-.68a3,3,0,0,0-3-2.49h-3a3,3,0,0,0-3,3.41A19,19,0,0,0,18.53,21.91l.38,0a3,3,0,0,0,2-.76,3,3,0,0,0,1-2.25v-3A3,3,0,0,0,19.44,13Zm.5,6a1,1,0,0,1-.34.75,1.05,1.05,0,0,1-.82.25A17,17,0,0,1,4.07,5.22a1.09,1.09,0,0,1,.25-.82,1,1,0,0,1,.75-.34h3a1,1,0,0,1,1,.79q.06.41.15.81a11.12,11.12,0,0,0,.46,1.55l-1.4.65a1,1,0,0,0-.49,1.33,14.49,14.49,0,0,0,7,7,1,1,0,0,0,.76,0,1,1,0,0,0,.57-.52l.62-1.4a13.69,13.69,0,0,0,1.58.46q.4.09.81.15a1,1,0,0,1,.79,1Z" />
                            </svg> Phone number
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-4 col-lg-4 col-xl-4 order-1 order-md-2 order-lg-1 order-xl-2 offset-md-2 offset-lg-0">
                    <h6 class="footer__title">Music Streaming</h6>
                    <div class="footer__nav">
                        @if (Accessor.HttpContext.Session.GetString("account") == null)
                        {
                            <a href="#modal-buy" class="open-modal">Bài hát yêu  thích</a>
                            <a href="#modal-buy" class="open-modal">My profile</a>
                            <a href="#modal-buy" class="open-modal">Playlist của tôi</a>
                        }
                        else
                        {
                            <a href="/account/favourite-song">Bài hát yêu  thích</a>
                            <a href="/account/profile">My profile</a>
                            <a href="/playlist/list">Playlist của tôi</a>
                        }

                    </div>
                </div>

                <div class="col-12 col-md-8 col-lg-6 col-xl-4 order-3 order-lg-2 order-md-3 order-xl-3">
                    <div class="row">
                        <div class="col-12">
                            <h6 class="footer__title">Tìm kiếm</h6>
                        </div>

                        <div class="col-6">
                            <div class="footer__nav">
                                <a href="/artist/search">Nghệ sĩ</a>
                                <a href="/home/search">Bài hát</a>
                                <a href="/playlist/search">Playlist</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- modal info -->
    <div id="modal-buy" class="zoom-anim-dialog mfp-hide modal modal--info">
        <button class="modal__close" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M13.41,12l4.3-4.29a1,1,0,1,0-1.42-1.42L12,10.59,7.71,6.29A1,1,0,0,0,6.29,7.71L10.59,12l-4.3,4.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0L12,13.41l4.29,4.3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42Z" />
            </svg>
        </button>

        <h2 class="sign__title2 mt-3" style="text-align: center;">Bạn cần đăng nhập để sử dụng chức năng này.</h2>
        <a href="/signin@(ViewBag.ReturnUrl != null ? $"?returnUrl={ViewBag.ReturnUrl}" : "")" class="release__buy" id="addtowishlist">Đăng nhập</a>
    </div>
    <!-- end modal info -->
    <!-- JS -->
    <script src="~/js/ckeditor/ckeditor.js"></script>
    <script src="~/js/jquery-3.5.1.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/magnific-popup.min.js"></script>
    <script src="~/js/smooth-scrollbar.js"></script>
    <script src="~/js/select2.min.js"></script>
    <script src="~/js/slider-radio.js"></script>
    <script src="~/js/jquery.inputmask.min.js"></script>
    <script src="~/js/plyr.min.js"></script>
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
